:root {
    --main-color: #1A2B48;
    --sidebar-color: #1b2b48;
    --secondary-color: #5191FA;
    --secondary-color-dark: #5191FA;
    --grey-color: #5E6D77;
    --light-grey-color: #EAEEF3;
    --accent-color: #FA5636;
}

body {
    color: var(--main-color, #1A2B48);
    font-size: 13px;
    font-family: "Poppins", sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-sidebar {
    background-color: var(--sidebar-color);
}

.bg-light-grey {
    background-color: var(--light-grey-color);
}

.text-main {
    color: var(--main-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-accent {
    color: var(--accent-color);
}

#header #topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 5px 25px;
    background: var(--main-color, #1A2B48);
}

#header #topbar .topbar-items li a {
    color: #FFF;
    font-weight: 400;
    font-size: 12px;
}

#navbar {
    z-index: 999;
}

a {
    text-decoration: none;
    outline: none;
}

ul.st-list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}

#header #topbar .socials {
    display: inline-block;
    border-right: 1px solid #374969;
}

#header #topbar .topbar-items {
    display: inline-block;
}

#header #topbar .topbar-items li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#header #topbar .topbar-left {
    font-size: 14px;
}

li {
    padding-left: 18px;
    padding-right: 18px;
    display: inline-block;
}

#header #topbar .dropdown-menu {
    min-width: auto;
    background: var(--main-color, #1A2B48);
}

#header #topbar .topbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

/* icone social */

#header #topbar .socials li:first-child a {
    padding-left: 0;
}

#header #topbar .socials li a {
    padding-left: 18px;
    padding-right: 18px;
    color: #D1D4DA;
    font-size: 14px;
}

.st-header-2 header#header {
    margin-bottom: -92px;
    position: relative;
    z-index: 999;
}

/* navbar */

.btn-home {
    color: #fff;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* ricarca */

.border-bottom-orange {
    border-bottom: var(--accent-color) solid 2px
}

/* hero home */

.img-top-home {
    height: 20vh;
    min-height: 600px;
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5)), url('media/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* hero pagina categorie */

.img-top-categorie {
    height: 20vh;
    min-height: 300px;
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5)), url('media/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.posizione {
    color: var(--grey-color);
}

.wish-list {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.btn-featured {
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 0 13px 13px 0;
    padding: 10px;
}

.featured {
    position: absolute;
    top: 20px;
    left: 0px;
    color: #fff;
    cursor: pointer;
}

.stickyFilter {
    position: sticky;
    top: 10px;
}

/* card iniziali home */
.bg-card-offerte {
    height: 500px;
    width: auto;
    object-fit: cover;
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5)), url('media/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.9s;
}
.bg-card-offerte:hover {
    transform: scale(1.1);
}

.wrapper {
    overflow: hidden;
}

.btn-top {
    position: absolute;
    bottom: 75%;
    left: 40px;
    width: 200px;
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    transition: 1s;
}

.wrapper:hover .btn-top {
    bottom: 80%;
    left: 40px;
}

.title-off {
    position: absolute;
    bottom: 60%;
    left: 40px;
    color: #fff;
    z-index: 1;
    transition: 1s;
}

.wrapper:hover .title-off {
    bottom: 65%;
    z-index: 1;
    opacity: 100;
}

.des-off {
    position: absolute;
    bottom: 45%;
    left: 40px;
    color: #fff;
    z-index: 1;
    transition: 1s;
}

.wrapper:hover .des-off {
    bottom: 50%;
    z-index: 1;
    opacity: 100;
}

.btn-off {
    position: absolute;
    bottom: 0%;
    left: 40px;
    border-color: white;
    transition: 1s;
    opacity: 0;
    z-index: 1;
}

.wrapper:hover .btn-off {
    bottom: 40%;
    opacity: 100;
    display: block;
}

/* catigorie */

.bg-citta {
    height: 300px;
    width: auto;
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5)), url('media/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.bg-citta:hover {
    transform: scale(1.1);
    height: 300px;
    width: auto;
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5)), url('media/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* caroselli */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container-p {
    width: 100%;
    height: 100%;
}

.swiper-slide-p {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* footer */

.line-left {
    border-left-width: 3px;
    padding-left: 20px;
    border-left-color: var(--secondary-color);
    border-left-style: solid;
}

.line-top {
    border-top-width: 2px;
    padding-top: 20px;
    border-top-color: var(--light-grey-color);
    border-top-style: solid;
}

.subcribe-form input[type=submit] {
    border: none;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    line-height: 55px;
    color: #FFF;
    background: var(--link-color, #5191FA);
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.subcribe-form .form-control {
    height: 55px;
    line-height: 53px;
    font-size: 14px;
    box-shadow: none;
    border-color: #D7DCE3;
}

/* modali */

.btn-social-f {
    background-color: #3b5998;
    color: #fff;
    padding: 6px;
    font-weight: 200;
    width: 100%;
}

.btn-social-g {
    background-color: #f34a38;
    color: #fff;
    padding: 6px;
    font-weight: 200;
    width: 100%;
}

.btn-social-t {
    background-color: #09a9f4;
    color: #fff;
    padding: 6px;
    font-weight: 200;
    width: 100%;
}

@media (max-width: 767px) {
    #header #topbar {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* backend profilo */

.btn-rimuovi {
    position: absolute;
    top: -70px;
    right: -280px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #cc0000;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
}

.btn-edit {
    position: absolute;
    top: -35px;
    right: -280px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: var(--accent-color);
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
}

#navbar2 {
    z-index: 1;
}

.add-info-ad {
    font-size: 24px;
    color: var(--main-color, #1A2B48);
    font-weight: 450;
    margin-bottom: 30px;
}

.add-info-ad .nav-tabs {
    background: var(--link-color, #5191FA);
    border: none;
    padding: 18px 10px;
}

.add-info-ad .nav-tabs li a {
    padding: 18px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    border: none;
    margin-right: 0;
    position: relative;
}

.add-info-ad .nav-tabs li a:hover {
    padding: 18px 10px;
    text-decoration: none;
    font-size: 16px;
    /* border-bottom: 5px white solid; */
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-right: 0;
    position: relative;
}

.add-info-ad .nav-tabs li a:focus {
    padding: 18px 10px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 5px var(--main-color) solid;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-right: 0;
    position: relative;
}

.add-info-ad .tab-content {
    padding: 30px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.add-info-ad .nav-tabs li.active a:after {
    display: inline-block;
}

.add-info-ad .nav-tabs li a img {
    display: none;
    position: absolute;
    top: 12px;
}

.add-info-ad .tab-content {
    padding: 30px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.add-info-ad .tab-content .st-field-group {
    border-bottom: 1px solid #D7DCE3;
    margin-bottom: 30px;
}

.add-info-ad .tab-content .st-field-group .st-group-heading {
    font-size: 14px;
    color: var(--main-color, #1A2B48);
    text-transform: uppercase;
    font-weight: 450;
    margin-bottom: 20px;
}

.add-info-ad .tab-content .st-field-upload .st-upload {
    width: 100px;
    height: 100px;
    background: #F5F5F5;
    border: 1px dashed #DDDDDD;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.add-info-ad .tab-content .st-field-upload .st-upload .inner span.add {
    color: gray;
    display: block;
    text-align: center;
    font-size: 32px;
    line-height: 17px;
    font-weight: 200;
}

.add-info-ad .tab-content .st-field-upload .st-upload .inner span.text {
    font-size: 14px;
    color: var(--main-color, #1A2B48);
    font-weight: 450;
}

.add-info-ad .tab-content .st-field-upload .st-selection {
    float: left;
}

.add-info-ad .tab-content .st-field-upload .st-selection .item {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background: #F5F5F5;
    border-radius: 3px;
    margin-right: 15px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    float: left;
}

.add-info-ad .form-group label {
    display: block;
    font-size: 14px;
    color: var(--main-color, #1A2B48);
    font-weight: 450;
    margin-bottom: 20px;
}

.add-info-ad .form-group {
    margin-bottom: 30px;
    position: relative;
}

.bg-scale {
    height: 250px;
    width: auto;
    object-fit: cover;
    transition: 0.9s;
}

.bg-scale:hover {
    transform: scale(1.1);
}

@media (max-width: 991px) {
    #header #topbar {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 991px) {
    #header #topbar {
        padding-left: 35px;
        padding-right: 35px;
    }
}
